.heroSection {

    .main {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: pxToRem(24);

        @media screen and (min-width: $toggleTablet) {
            height: 100vh;
            padding-bottom: pxToRem(40);
        }
        @media screen and (min-width: $toggleDesktop) {
            flex-direction: row;
            gap: pxToRem(125);
            padding-bottom: pxToRem(0);
        }

        .mainLogo {
            position: absolute;
            top: pxToRem(50);
            left: 50%;
            transform: translateX(-50%);
            z-index: 200;

            svg {
                width: pxToRem(92);
                height: pxToRem(60);
            }
            @media screen and (min-width: $toggleDesktop) {
                display: none;
            }
        }
        .animationBlock {
            position: absolute;
            top: -100%;
            width: 97%;
            transition: top 1s ease;

            @media screen and (min-width: $toggleTablet) {
                left: 0;
            }

            &.craneDown,
            &.craneUp {
                top: -163px;

                @media screen and (min-width: $toggleTablet) {
                    top: -182px;
                }
                @media screen and (min-width: $toggleDesktop) {
                    top: 0%;
                }
            }
            &.craneCarry {
                top: -100%;
            }

            &.craneDownDeep {
                top: -135px;

                @media screen and (min-width: $toggleTablet) {
                    top: -125px;
                }
                @media screen and (min-width: $toggleDesktop) {
                    top: 0;
                }
            }
            &.craneUpDeep {
                top: -100%;
            }
            .icon1 {
                position: absolute;
                top: 0;
                left: 49%;
                transform: translateX(-50%);
                width: pxToRem(96);
                height: pxToRem(272);
                z-index: 2;

                @media screen and (min-width: $toggleDesktop) {
                    top: pxToRem(-40);
                    left: 50%;
                }
            }

            .icon2 {
                position: absolute;
                top: pxToRem(220);
                left: 48%;
                transform: translateX(-50%);
                width: 90%;
                height: auto;
                z-index: 10;

                @media screen and (min-width: 390px) {
                    top: pxToRem(227);
                }
                @media screen and (min-width: 412px) {
                    top: pxToRem(220);
                }
                @media screen and (min-width: 414px) {
                    top: pxToRem(215);
                }
                @media screen and (min-width: 440px) {
                    top: pxToRem(205);
                }

                @media screen and (min-width: $toggleTablet) {
                    top: 190px;
                    left: 52%;
                    width: pxToRem(500);
                }
                @media screen and (min-width: 820px) {
                    top: 228px;
                }
                @media screen and (min-width: 1024px) {
                    top: 267px;
                }
                @media screen and (min-width: $toggleDesktop) {
                    top: 20vh;
                    left: 50%;
                    width: 48vw;
                    height: auto;
                }
            }
        }

        .wrapContainer {
            @media screen and (min-width: $toggleDesktop) {
                position: relative;
                width: 59vw;
                overflow: hidden;
            }

            .wrapImage {
                position: relative;

                @media screen and (min-width: $toggleDesktop) {
                    height: 100%;
                }

                .bg {
                    height: 472px;
                    object-fit: fill;

                    @media screen and (min-width: $toggleDesktop) {
                        height: 100%;
                    }
                }

                .animationImage {
                    position: absolute;
                    top: -100%;
                    left: 0;
                    transition: top 1s ease;
                    width: 90%;
                    transform-origin: top center;

                    @media screen and (min-width: $toggleTablet) {
                        left: 50%;
                        transform: translateX(-50%);
                        width: pxToRem(500);
                    }
                    @media screen and (min-width: $toggleDesktop) {
                        transform: inherit;
                        width: 100%;
                    }

                    &.animationImageDop {
                        width: 100%;
                        left: 10px;
                    }

                    &.moduleDrop,
                    &.modulePlaced {
                        top: 165px;

                        @media screen and (min-width: $toggleDesktop) {
                            top: 50vh;
                        }
                    }

                    &.moduleDrop {
                        animation: swing 1.6s ease-in-out infinite;

                        @media screen and (min-width: $toggleTablet) {
                            animation: none;
                        }
                        @media screen and (min-width: $toggleDesktop) {
                            animation: swing 1.6s ease-in-out infinite;
                        }
                    }

                    &.moduleLift {
                        top: -100%;
                        animation: swing 1.6s ease-in-out infinite;

                        @media screen and (min-width: $toggleTablet) {
                            animation: none;
                        }
                        @media screen and (min-width: $toggleDesktop) {
                            animation: swing 1.6s ease-in-out infinite;
                        }
                    }

                    &.modulePlaced {
                        animation: none;
                    }

                    @keyframes swing {
                        0%   { transform: rotate(-1.5deg); }
                        50%  { transform: rotate(1.5deg); }
                        100% { transform: rotate(-1.5deg); }
                    }

                    .imageB {
                        width: 100%;
                    }

                    @media screen and (min-width: $toggleDesktop) {
                        bottom: pxToRem(277);
                        left: 2.5vw;

                        .imageA {
                            width: 48vw;
                        }

                        &.animationImageDop {
                            width: initial;
                            left: 2vw;
                            bottom: pxToRem(100);
                            right: -2vw;

                            .imageB {
                                position: relative;
                                width: 100%;
                                object-fit: contain;
                                bottom: pxToRem(100);

                            }
                        }
                    }
                }
            }
        }

        .content {
            padding-bottom: pxToRem(20);

            @media screen and (min-width: $toggleTablet) {
                width: 100vw;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 0;
            }
            @media screen and (min-width: $toggleDesktop) {
                width: 41vw;
                padding: pxToRem(82) 0 pxToRem(112);
            }

            .contentWrap {

                .logoWrap {
                    margin-bottom: pxToRem(18);

                    @media screen and (min-width: $toggleDesktop) {
                        margin-bottom: pxToRem(16);
                    }

                    svg {
                        width: pxToRem(70);
                        height: pxToRem(40);

                        @media screen and (min-width: $toggleTablet) {
                            width: pxToRem(92);
                            height: pxToRem(60);
                        }
                    }
                }

                .title {
                    margin-bottom: pxToRem(16);
                    font-family: "SF Pro Display";
                    font-weight: 400;
                    font-style: normal;
                    font-size: pxToRem(48);
                    line-height: 100%;
                    letter-spacing: pxToRem(-1.44);
                    color: $color-primary;

                    @media screen and (min-width: $toggleTablet) {
                        max-width: pxToRem(505);
                        font-size: pxToRem(68);
                        letter-spacing: pxToRem(-2.04);
                    }
                }

                .text {
                    margin-bottom: pxToRem(16);
                    font-family: "SF Pro Display";
                    font-size: pxToRem(20);
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: pxToRem(-0.6);
                    color: $color-primary;

                    @media screen and (min-width: $toggleTablet) {
                        margin-bottom: pxToRem(24);
                        font-size: pxToRem(24);
                        letter-spacing: pxToRem(-0.72);
                    }
                }

                .linksBtn {
                    display: flex;

                    .link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: pxToRem(130);
                        height: pxToRem(46);
                        margin-bottom: pxToRem(16);
                        font-family: "SF Pro Display";
                        font-size: pxToRem(14);
                        font-weight: 400;
                        line-height: 100%;
                        letter-spacing: pxToRem(-0.42);
                        transition: $transition;
                        cursor: pointer;

                        @media screen and (min-width: $toggleTablet) {
                            font-size: pxToRem(16);
                            letter-spacing: pxToRem(-0.48);
                        }

                        &.linkCall {
                            color: $color-white;
                            background: $bg-primary;

                            &:hover {
                                border: 1px solid $color-primary;
                                color: $bg-primary;
                                background: transparent;
                            }

                            @media screen and (min-width: $toggleTablet) {
                                margin-bottom: pxToRem(24);
                            }
                        }

                        &.linkWrite {
                            margin-left: pxToRem(-1);
                            border: 1px solid $color-primary;
                            color: $color-primary;

                            &:hover {
                                color: $color-white;
                                background: $bg-primary;
                            }
                        }
                    }
                }

                .socialWrap {
                    display: flex;
                    align-items: center;
                    column-gap: pxToRem(8);

                    .linkSocial {
                        transition: $transition;

                        svg {
                            width: pxToRem(32);
                            height: pxToRem(32);
                        }

                        &:hover {

                            svg {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
            .tabs {
                position: absolute;
                top: pxToRem(400);
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                align-items: flex-start;
                width: 95%;
                z-index: 10;

                @media screen and (min-width: $toggleDesktop) {
                    position: initial;
                    top: initial;
                    flex-direction: column;
                    transform: initial;
                    gap: pxToRem(16);
                }

                button {
                    height: pxToRem(44);
                    padding: pxToRem(14);
                    font-family: "SF Pro Display";
                    font-size: pxToRem(16);
                    font-weight: 400;
                    line-height: 100%;
                    letter-spacing: pxToRem(-0.6);
                    background: $color-white;
                    color: $color-primary;
                    cursor: pointer;
                    transition: $transition;

                    @media screen and (max-width: 365px) {
                        font-size: pxToRem(14);
                    }

                    &.active,
                    &:hover {
                        color: $color-primary;
                    }

                    &.active {
                        cursor: default;
                        background: $color-primary;
                        color: $color-white;

                        @media screen and (min-width: $toggleDesktop) {
                            background: transparent;
                            color: $color-primary;
                        }
                    }

                    &:nth-child(1) {
                        flex: 1 1 45%;

                        @media screen and (min-width: $toggleDesktop) {
                            flex: 1 1 100%;
                        }
                    }
                    &:nth-child(2) {
                        flex: 1 1 55%;

                        @media screen and (min-width: $toggleDesktop) {
                            flex: 1 1 100%;
                        }
                    }

                    @media screen and (min-width: $toggleTablet) {
                        height: pxToRem(52);
                        padding: pxToRem(14);
                        font-size: pxToRem(24);
                    }
                    @media screen and (min-width: $toggleDesktop) {
                        padding: 0;
                        font-size: pxToRem(46);
                        letter-spacing: pxToRem(-1.38);
                        color: #B0B0B0;
                    }
                }
            }
        }
    }
}